body {
    min-width:500px;
    line-height: 1;
    border-radius: 10%;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    margin: 20px;
    background-color: rgb(18, 18, 18);
    overflow: hidden;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }